@import "tailwindcss";
@import "@radix-ui/themes/styles.css";

@theme {
  --color-primary: #ffb01c;

  --font-sans:
    "Nunito", "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

button {
  transition: 0.3s;
}
button:hover {
  transform: scale(1.1);
  cursor: pointer;
}
